@model CrudInMvc.Models.Login;
@{
    Layout = null;
}

@* <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyLogin</title>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


    <style>
        #div {
            width: 100%;
            height: 100vh;
            display: grid;
            place-items: center;
            background-image: url(https://images.unsplash.com/photo-1586999768265-24af89630739?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y2FmZXRlcmlhfGVufDB8fDB8fHww);
        }

     p{
     color:red;
     }

        #div1 {
            height: 350px;
            width: 70%;
            display: grid;
            place-items: center;
            background-color: snow;
        }

        form {
            display: grid;
            place-items: center;
            background-color: snow;
        }
    </style>
</head>
<body>
  <div id="div">

      <div id="div1">
          <h1>Login Form</h1>
<form method="post" action="Login" class="mt-5">
    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="text" class="form-control"  id="exampleInputEmail1" aria-describedby="emailHelp" asp-for="firstName">
        <p id="error"></p>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">password</label>
        <input type="text" class="form-control" id="exampleInputPassword1" asp-for="password">
        <p id="error2"></p>
    </div>
   
  <button type="submit" class="btn btn-primary" id="submit">Submit</button>
</form>
    </div>
</div>
<script>
    
 
</script>
    </body>
    </html> *@
<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


    <style>
        html {
            margin: 0px;
            height: 100%;
            width: 100%;
        }
        body {
            margin: auto;
            padding: 0;
            box-sizing: border-box;
            font-size: 1rem;
            color: white;
            font-family: var(--font-family, CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif)));
        }

        #parent {
            width: 100%;
            height: 100%;
            background-image: url(https://wallpapercave.com/wp/wp1973374.jpg);
            
        }

        #child1 {
            width: 100%;
            height: 70px;
            background-color: #066bc6;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }

        #navigation {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
          
        }

           
        a {
            color: white;
            font-size: large;
            cursor: pointer;
            text-decoration:none;
            border-radius: 20px;
            border: 2px solid #066bc6;
            
            
        }
        span{
            
            

        
        }

        #child2 {
          
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 675px;
         
        
        }

        #child3 {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
          
            background-color: #066bc6;
            height:30px;
            margin-bottom:0px;
        }

        #Login {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 700px;
            height: 484px;
           
            color: white;
        }

        div {
            height: 20px;
        }

        input {
            width: 295px;
             height: 21px;
            border-radius: 500px;
            color: black;
            font-size: 1rem;
            font-weight: 400;
            padding: 8px 14px;
        }
        form{
        background-color:snow;
        align-items:center;
        display:flex;
        flex-direction:column;
        justify-content:center;
         width: 484px;
         border-radius:50px;

        
        }
      

        #Signin {
            width: 100%;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            row-gap: 10px;
            flex-direction: column;
        }


        button {
            font-weight: 700;
            background-color: #f9f7f7;
            border-radius: 500px;
            text-align: center;
            align-items: center;
            width: 301px;
            height: 41px;
            text-decoration: none;
            text-transform: none;
        }

        label {
            color: black;
            font-weight: 700
        }

        h1 {
            color: #066bc6;
            font-weight: 700;
            border-bottom:2px solid black;
        }
        
        #child3 p{
        color:white;
        }

       #error{
          color :red; 
       }

        #submit {
            background-color: #066bc6;
            color: white;
            font-weight: 700;
            border-radius: 500px;
        }

        p {
            color: #066bc6;
            font-weight: 700;
            cursor:pointer;

          
        }
        p:hover{
                color: brown;
                font-size:larger;
        
        }
    </style>
</head>

<body>

    <div id="parent">
        <div id="child1">
            <div id="navigation">
                <img src="https://www.pngwing.com/public/css/pngwing.svg">
                <span> <a class="navbar-brand" asp-area="" asp-controller="Employee" asp-action="Add" id="a">Member Device</a> </span>
                <span> <a class="navbar-brand" asp-area="" asp-controller="Employee" asp-action="Insert">Insert ErrorLog</a> </span>

                <span> <a class="navbar-brand" asp-area="" asp-controller="Employee" asp-action="Diplay">Display Error Log</a></span>
            </div>


        </div>

        <div id="child2">

            <div id="Login">
                <form method="post" action="Login" >
                    <h1>Login</h1>

                    <div>
                    </div>
                    <input type="text" placeholder="Enter Your  Email" asp-for="firstName" id="input1">
                    <p id ="error"> </p>
                    <div></div>
                  
                    <input type="password" placeholder="Enter Your Password" asp-for="password" >
                    <div></div>
                    <button id="submit"> Log in</button>
                    <div></div>
                    <p>Forgot Password ?</p>
                  
                    <p>Dont have An Account</p>


                </form>
            </div>

        </div>

        @* <div id="child3">
            <div id="Signin">

                <button id="google">
                    Continue With Gmail
                </button>
                <div>
                </div>
                <button id="Facebook">Continue With facebook</button>
                <div>
                </div>
                <button id="number">Continue With Number</button>

            </div>
        </div> *@
        <div id="child3">
            <p>Location : Chennai ,Bangalore</p>
            <p> Contact : 04322972 072963063 </p>
            <p id="email"> Email : pngwave@email.com</p>

        </div>
        <div id="ep">

        </div>

    </div>
   <script>
        $(document).ready(function () {
           $("#email").click(function () {

               $.get("/Employee/GetDetails", function (data, status) {

                   alert(data[0].email);
                   
               });

           });

       });
   </script>


</body>

</html>